Flask==3.0.3
flask-sitecopy==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Compress==1.15
python-dotenv==1.0.1
gunicorn==22.0.0
Pillow==12.3.0
certifi==2025.1.31

# Testing
pytest==8.3.5
playwright==1.56.0
pycodestyle==2.12.1
coverage==7.6.10
